.people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 510px;
}

.person {
  border-top: none;
  border-radius: 75px;
  background-color: #2c3e50;
  padding: 20px;
  color: white;
  font-size: 40px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-shadow: -1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
}

.random__button {
  background-color: #e35886;
  width: fit-content;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  padding: 20px 30px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.result {
  font-size: 100px;
  font-weight: bold;
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  text-shadow:3px 3px 0 #aaa;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.section__random {
  padding-top: 0;
}